@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
/* hr { display: none; } */
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {
	width: 100%;
}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* 上の部分は気にせずここから書く */
/* --------------------------------------------------------------------- */

html{
	/* width: 1024px; */
	width: 100vw;
	margin-right: auto;
	margin-left: auto;
	background-color:  #f5f5f5;
	
}

.wrapper{
	width: 100vw;
	overflow: hidden;
}


@media screen and (max-width:1200px) {
	/* html { background-color: blue; } */

	.header-nav{
		/* margin-left: 0px; */
		width: 60%;
		/* background-color: burlywood; */
		display: flex;
		justify-content: space-around;
	}

	.header-column{
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		justify-content: flex-start;
		/* background-color: blue; */
		
	}

	header img{
		height: 50px;
		width: auto;
		margin-top: 30px;
	}

	header li{
		/* margin-right: 80px; */
		/* font-weight: ; */
		font-size: 80%;
		/* margin-top: 30px; */
		vertical-align: middle;
		display: inline-block;
		line-height: 125px;

	}
}





/* ------------------------------------------------------- */

@media screen and (min-width:1200px) {
	header img{
		height: 60px;
		margin-top: 30px;
		
	}

	.header-image{
		margin-left: 20px;
	}

	.header-column{
		width: 1200px;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		justify-content: space-around;
		/* background-color: blue; */
		
	}

	.header-nav{
		display: flex;
		justify-content: space-around;
		/* margin-left: 50px; */
		/* background-color: red; */
		text-align: right;
	}

	header li{
		margin-right: 80px;
		/* font-weight: ; */
		font-size: 80%;
		/* margin-top: 30px; */
		vertical-align: middle;
		display: inline-block;
		line-height: 125px;

	}


}
	header{
		position: fixed;
		width: 100%;
		height: 125px;
		top:0%;
		z-index: 100;
		background-color: #FFFFFFF2;
		/* background-color: #2da690; */
		opacity: 0.99;
	}

	.header-column{
		margin-right: auto;
		margin-left: auto;
		display: flex;
		justify-content: space-between;
		/* background-color: blue; */
		
	}


	


a:hover {
	color: #2da690;
};

a:visited {
  color: black;
}

a {
  color: black;
}

	




/* ------------------------------------------------------------*/




.landingpage{
	/* background-color: ; */
}

.landingpage img {
	background-color: blue;
  height: 100vh;
	width: 100vw;
	margin-top: 0;
	top: 0;
	filter: brightness(75%);
	z-index: 1;
	object-fit: cover; 
	
}

#cf7 img {
  position:absolute;
  /* left:0; */
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#cf7 img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

.landingpage .landingpage-p{
	font-size: 2rem;
	margin-left: 50px;
	position: absolute;
	top: 90vh;
	/* font-family:  "Roboto","Noto Sans JP","Helvetica Neue",Helvetica,Arial,sans-serif; */
	z-index: 10;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-weight: 1000;
	line-height: 2.5rem;
	/* display: none; */
/* 
	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1; */


	/* animation-duration: 3s;
  animation-name: slidein; */


}


.done{
	opacity: 1;
	/* translateX(200px) */
	transform: translateX(0);
}

/*1.フェードインアニメーションの指定*/
.scrollanime {opacity: 0;} /*一瞬表示されるのを防ぐ*/
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}
 
/*2.上下の動きを指定*/
.updown {transform: translateY(-100px);}
.downup {transform: translateY(20vh);}
 
/*3.左右の動きを指定*/
.sect02{overflow: hidden;} /*横スクロールバーを隠す*/
.slide-right {transform: translateX(200px);}
.slide-left {transform: translateX(-200px);}
/* 
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */

/* ------------------------------------------------------------- */
@media screen and (max-width:1200px) {
	.section .service-left{
		position: absolute;
		margin-top: 150px;
		width: 50%;
		z-index: 4;
		height: 50%;
		background-color: greenyellow;
	}

	.section .service-right-1 div, .section  .service-right-2 div{
		width: 85%;
		height: 85%; 
	}

	.service small{
		display: block;
		margin-right: 20px;
	}

	/* ------------------------------- */

	.section-2 .service-right{
		position: absolute;
		margin-top: 150px;
		width: 50%;
		z-index: 4;
		height: 50%;
		background-color: greenyellow;
		
	}

	.section-2 .service-left{
		/* color: orange; */
		width: 52%;
		height: 85%; 
		/* position: absolute; */
		margin-top: 30px;
		/* width: 85%; */
		z-index: 5;
		opacity: 0.9;
		/* text-align: right; */
		margin-right: 45%;

		position: absolute;
	z-index: 5;
	vertical-align: middle;
	/* margin-left: 45%; */
	height: 100%;
	opacity: 0.9;
	
	padding-top: 20px;
	/* padding-bottom: 20px; */
		
		/* padding-top: 20px; */
		/* margin-top: 5%; */
		/* padding: 40px; */
	}

	.section-2 .service-left i{
		margin-top: -20px;
	}

	

}



@media screen and (min-width:1200px) {
	.section .service-left{
		position: absolute;
		width: 50%;
		z-index: 4;
		height: 100%;
		background-color: greenyellow;
	}

	.section .service-right-1 div, .section  .service-right-2 div{
		width: 650px;
		height: 70%; 
	}

	.section .service-right-1 div, .section  .service-right-2 div small{
		/* max-width: 500px; */
	}

 
	.section-2 .service-right{
		/* margin-right: 50%; */
		position: absolute;
		width: 50%; 
		z-index: 4;
		height: 100%;
		background-color: greenyellow;
		
	}

	.section-2 .service-left{
		position: absolute;
		height: 100%;
		/* width: 60%;width: 650px; */
		width: 650px;
		z-index: 5;
		margin-left:  0%;
		/* background-color: lightcoral; */
		height: 90%;
		vertical-align: middle;
		margin-right: 45%;
		height: 100%;
		opacity: 0.9;
		/* text-align: right; */
		
		padding-top: 20px;
		/* margin-top: 5%; */
		/* padding: 40px; */
	}



}


.service{
	margin-top: 115vh;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
}

.service-title{
	margin-bottom: 100px;
}

h2{
	text-align: center;
	font-size: 200%;
	font-weight: bold;
	/* color: yellow */
}



.service hr { 
	margin-right: auto;
	margin-left: auto;
	display: block;
	height: 1px;
	border: 0;
	border-top: 3px solid #2da690;
	padding: 0;
	margin-bottom: 20px;
	width: 250px;
}

/* ---------------------------------------------------------------------- */

.service .section{
	position: relative;
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: flex-start;
	/* margin-bottom:50px; */
	/* background-color: purple; */
}

.service .section2{
	position: relative;
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: flex-end;
	margin-bottom:50px;
	/* background-color: purple; */
}




.service2 .service-left{
	position: absolute;
	width: 50%;
	z-index: 4;
	height: 100%;
	background-color: greenyellow;
	
}

.section  .service-right-1, .section  .service-right-2{
	position: absolute;
	width: 60%;
	z-index: 5;
	/* background-color: lightcoral; */
	height: 90%;
	vertical-align: middle;
	margin-left: 45%;
	height: 100%;
	opacity: 0.9;
	
	padding-top: 20px;
	/* margin-top: 5%; */
	/* padding: 40px; */
}

.section .service-left img{
	width: 100%;
	height: 100%;
	/* width: 100%; */
	object-fit: cover; 
} 

.section .service-right-1 div, .section  .service-right-2 div{
	margin-top: 5%;
	z-index: 5;
	opacity: 0.99;
	background-color: white;
	/* width: 800px; */
	/* height: 70%;  */
	text-align: left;
}




/* -------------- */
.section  .service-right-1 img{
	padding-top: 20px;
	margin-top: 50px;
	width: 200px;
	margin-bottom: 50px;
	margin-left: 30px;

}

h5{
	margin-left: 30px;
	font-weight: bold;
	font-size: 200%;
	margin-bottom: 10px;
}
.service-right-1 small, .service-right-2 small{
	/* margin-left: 30px;
	margin-bottom: 20px; */

}

.launch-icon{
	margin-top: 50px;
	color: #2da690;
	margin-left: 30px;
}

/* ---------------- */
.section  .service-right-2 img{
	padding-top: 20px;
	margin-top: 50px;
	width: 100px;
	margin-bottom: 30px;
	margin-left: 30px; 
 
}




/* ------------------------------------------------------ -----------kkokokokokokokoko */


.service .section-2{
	position: relative;
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: flex-end;
	margin-bottom:50px;
	/* background-color: purple; */
}




/* .section-2 .service-left{
	position: absolute;
	width: 50%;
	z-index: 4;
	height: 100%;
	/* background-color: greenyellow; */





.section-2 .service-right img{
	width: 100%;
	height: 100%;
	/* width: 100%; */
	object-fit: cover; 
} 

.section-2 .service-left div{
	margin-top: 5%;
	z-index: 5;
	opacity: 0.99;
	background-color: white;
	/* width: 50%; */
	height: 70%;
	text-align: left;
}




/* -------------- */


.section-2 h5{
	margin-left: 30px;
	font-weight: bold;
	font-size: 200%;
	margin-bottom: 10px;
}
.section-2 .service-left small{
	margin-left: 30px;
	margin-bottom: 20px;

}

.section-2 .launch-icon{
	margin-top: 50px;
	color: #2da690;
	margin-left: 30px;
}

/* ---------------- */
.section-2 .service-left img{
	padding-top: 20px;
	margin-top: 50px;
	width: 200px;
	margin-bottom: 30px;
	margin-left: 30px;

}



.service-arrow{
	margin-top: 40px;
	text-align: right;
	margin-right: 10%;
	/* width: 100%; */
	/* margin-right: 500px; */
	font-size: 120%; 
	font-weight: bold; 
	/* vertical-align: middle; */
	/* display: flex; */
	align-items: center;
	/* color: orange; */
}


/* ---------------------------------------------------------------------------------------- */
@media screen and (max-width:1050px) {
	.vision{
		margin-bottom: 100px;
		/* background-color: green; */
	}

	.vision-column{
		/* display: flex; */
		/* justify-content: space-between; */
		text-align: center;
		/* width: 70%; */
		margin-left: auto;
		margin-right: auto;
		/* margin-bottom: 200px; */
		
	}

	.vision-column p{
		font-size: 200%;
		/* max-width:200px; */
		text-align: center;
		color:#2da690;
		margin-bottom: 20px;
	}
	

	

}



@media screen and (min-width:1050px) {
	.vision{
		margin-bottom: 100px;
		/* background-color: green; */
	}


	.vision-column{
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: space-between;
		text-align: center;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		/* margin-bottom: 200px; */
		/* margin-bottom: 100px; */
	}

	.vision-column-1{
		padding-right: 20px;
	}

	.vision-column-2{
		padding-left:100px;
		padding-right:100px; 
		border-left: 3px solid lightgray;
		border-right: 3px solid lightgray;
		border-collapse: separate;
	}


	.vision-column-3{
		padding-left: 20px;
		
	}

	.vision-column p{
		font-size: 200%;
		max-width:200px;
		text-align: center;
		color:#2da690;
		margin-bottom: 20px;
	}
	

	


}



.vision{
	/* background-image: url("./image/bg01.jpg"); */
	height: 750px;
	margin-top: 350px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
	background-repeat: no-repeat;
	/* width: 100%; */
}

.vision-title{
	/* margin-top: 10px; */
	padding-top: 50px;
	margin-bottom: 100px;
	/* max-width: 1000px; */
}

h1{
	margin-top: 100px;
	text-align: center;
	font-size: 300%;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	/* max-width: 600px; */
	/* color: yellow */
}

.vision hr { 
	margin-right: auto;
	margin-left: auto;
	display: block;
	height: 1px;
	border: 0;
	border-top: 3px solid #2da690;
	padding: 0;
	margin-bottom: 20px;
	width: 250px;
}





/* -------------------------------------------------------------------------------- */
@media screen and (max-width:1050px) {
	.article{
		display: flex;
		justify-content: flex-start;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 20px;
		/* background-color: yellow; */
	}
	
	

}



@media screen and (min-width:1050px) {
	.article{
		display: flex;
		justify-content: flex-start;
		width: 1000px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 20px;
		/* background-color: yellow; */
	}
	



}

.news-title{
	/* margin-top: 10px; */
	padding-top: 100px;
	margin-bottom: 100px;
	/* background-color: yellow; */
}

.news-title hr { 
	margin-right: auto;
	margin-left: auto;
	display: block;
	height: 1px;
	border: 0;
	border-top: 3px solid #2da690;
	padding: 0;
	margin-bottom: 20px;
	width: 250px;
}




.article-img{
	/* width: 1000px; */
	/* background-color: red; */
	height: auto;
}

.article-content{
	/* width: 1000px; */
	/* background-color: blue; */
	height: auto;
}


.article img{
	width: 200px;
	height: 100px;
	/* height: 100px; */
	object-fit: cover; 
	margin-right: 20px;

}

.article small{
	color: gray;
}

.article span{
	font-weight: bold;
}

.article p{
	margin-top: 15px;
}

.article-section hr{
	/* height: 10px; */
	/* background-color: red;
	border: none;
	display: show; */
	margin-right: auto;
	margin-left: auto;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1.5px solid lightgrey;
	padding: 0;
	margin-bottom: 20px;
	width:55%;

	
}

/* ------------------------------------------------------------------------ */
@media screen and (max-width:1050px) {
	.about-content{
		width: 90%;
		/* display: flex; */
		/* justify-content: space-between; */
		margin-right: auto;
		margin-left: auto;
		/* justify-content: center; */
	}

	.top-image{
		display: show;
	}

	.bottom-image{
		display: none;
	}

	.about-content img{
		margin-top: 5%;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		object-fit: cover; 
		
		width: 90%;
		height: 500px;
	}
	

}



@media screen and (min-width:1050px) {
	.about-content{
		width: 1000px;
		display: flex;
		justify-content: space-around;
		margin-right: auto;
		margin-left: auto;
		/* justify-content: center; */
	}

	.about-content-column{
		width:50%
	
	}

	.top-image{
		display: none;
	}

	.bottom-image{
		display: show;
	}

	.about-content img{
		margin-top: 25%;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		object-fit: cover; 
		
		width: 90%;
		height: 70%;
	}



}


.about{
	margin-top: 200px;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
	background-image: url(https://linew.co.jp/wp-content/uploads/2021/05/bg02.jpg;);
}

.about-title{
	/* margin-top: 10px; */
	padding-top: 100px;
	margin-bottom: 100px;
	
	/* justify-content: center; */
	/* background-color: yellow; */
}

.about-title hr { 
	margin-right: auto;
	margin-left: auto;
	display: block;
	height: 1px;
	border: 0;
	border-top: 3px solid #2da690;
	padding: 0;
	margin-bottom: 40px;
	width: 250px;
}





.about-image{
	/* margin-left: auto;
	margin-right: auto;
	justify-content: center; */

}



.about-content-section{
	display: flex;
	justify-content: flex-start;
	/* color: brown; */
	/* text-align: left; */
}

.about-content div{
	margin-bottom: 5px;
}

.about-content-left{
	width: 20%;
}
.about-content-right{
	max-width:60%;
	width: 60%;
	display: column;
}

.about-content hr { 
	margin-left: 0;
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid #2da690;
	padding: 0;
	width: 90%;
}

.about-content-right hr{
	border-top: 2px solid grey;
}

.google-map small{
	font-size: 105%;
	vertical-align: middle;
}

.google-map-launch-icon{
	vertical-align: middle;
}

.moreinfo-btn{
	width: 55%;
	margin-right: auto;
	margin-left: auto;
	/* background-color: yellow; */
	text-align: right;
	vertical-align: middle;

}

.moreinfo-btn span{
	vertical-align: middle;
	/* color: yellow; */
	font-size: 125%;
	font-weight: bold;
}


/* ---------------------------------------------------------------------------- */

@media screen and (max-width:768px) {
	.recruit-content{
		background-color: white;
		width:90%;
		margin-right: auto;
		margin-left: auto;
		height: 300px;
		margin-top: 50px;
		/* display: flex;
		justify-content: space-between; */
	}

	.recruit-content-column{
		width:95%;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		justify-content: space-evenly;
		
	}

	.recruit-column-1{
		/* width: 50%; */
	}

	.recruit-column-2{
		/* width: 50%; */
	}

	.recruit-content-column div{
		border:1px solid lightgrey;
		padding-right: 30px;
		padding-left: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 100%;
		
	}

}



@media screen and (min-width:768px) {
	.recruit-content{
		background-color: white;
		width:80%;
		margin-right: auto;
		margin-left: auto;
		height: 300px;
		margin-top: 50px;
		/* display: flex;
		justify-content: space-between; */
	}

	.recruit-content-column{
		width:85%;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		justify-content: space-evenly;
		
	}

	.recruit-content-column div{
		width: 30%;
		border:1px solid lightgrey;
		/* background-color: orange; */
		padding-right: 15px;
		padding-left: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 130%;
		text-align: center;
		
	}

	


}
.recruit{
	margin-top: 200px;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
}

.recruit-title{
	/* margin-top: 10px; */
	padding-top: 100px;
	margin-bottom: 100px;
	
	/* justify-content: center; */
	/* background-color: yellow; */
}

.recruit-title hr { 
	margin-right: auto;
	margin-left: auto;
	display: block;
	height: 1px;
	border: 0;
	border-top: 3px solid #2da690;
	padding: 0;
	margin-bottom: 40px;
	width: 250px;
}








.recruit-content-column small{
	color: #2da690;
	font-size: 130%;
}

.recruit-content-column :hover >  small{
	color: white;
	font-size: 130%;
}

.recruit-content-column div{
	/* width: 100%; */
	
}

.recruit-content-column :hover{
	background-color: #2da690;
	color: white;
	/* color: red; */
	
}

.recruit-content-column div span{
	/* vertical-align: middle; */
}



/* ------------------------------------------------------------------------ */
@media screen and (max-width:850px) {
	footer{
		background-color: #4d4d4d;
		
	}
	.footer-column{
		/* z-index: 10; */
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		
		margin-top: 50px;
		display: flex;
		justify-content: flex-start;
		/* margin-top: 100px; */
		
	}

	.footer-left img{
		margin-top: 30px;
		margin-bottom: 30px;
		height: 20%;
	}

	footer ul{
		text-align: right;
		display: flex;
		justify-content: space-between;
		color:white;
		margin-left: 10%;
		margin-top: 50px;
		font-size: 80%;
	}

	.footer-right{
		/* text-align: right; */
		margin-left: 0px;
		/* background-color: blue; */
	}

	.footer-right-column div{
		border:1px solid gray;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;
		/* font-size: 110%; */
		
	}
	


}

@media screen and (min-width:850px) {
	footer{
		margin-top: 100px;
		/* background-color: orange; */
		
	}

	.footer-column{
		/* z-index: 10; */
		width: 800px;
		margin-right: auto;
		margin-left: auto;
		
		margin-top: 50px;
		display: flex;
		justify-content: flex-start;
		/* margin-top: 100px; */
		
	}

	.footer-left img{
		margin-top: 30px;
		margin-bottom: 30px;
		height: 75px;
	}

	footer ul{
		text-align: right;
		display: flex;
		justify-content: space-between;
		color:white;
		margin-left: 100px;
		margin-top: 50px;
		font-size: 100%;
	}

	.footer-right{
		/* text-align: right; */
		margin-left: 12%;
		/* background-color: blue; */
	}

	.footer-right-column div{
		border:1px solid gray;
		padding-right: 30px;
		padding-left: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;
		/* font-size: 110%; */
		
	}
	

}



footer{
	margin-top: 100px;
	width: 100vw;
	background-color: #4d4d4d;
	height: 300px;
	
}



.footer-left{
	width: 40%;
	vertical-align: middle;
	color: lightgrey;
}

.footer-right{
	/* text-align: right; */
	width: 60%;
	/* background-color: blue; */
}




.footer-right-column{
	color:white;
	margin-top: 30px;
	width:100%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-evenly;
	font-size: 80%;
	
}




